БАЗА ДАННЫХ ФИЛЬМЫ

Открываем Shell SQL
Вводим параметры подключения (Enter) 
psql(17.2)

Создаем базу данных "Фильмы"
Вводим следующую команду

In [ ]:
CREATE DATABASE movies;

Далее подключаемся к нашей базе данных

In [ ]:
\c movies

Теперь создадим таблицу для хранения информации о фильмах
Пишем следующий код

In [ ]:
CREATE TABLE movies (id SERIAL PRIMARY KEY, 
                     title VARCHAR(50) NOT NULL,
                    release_year INTEGER NOT NULL, 
                     genre VARCHAR(20), rating DECIMAL(3,1)
                    );

Теперь добавим несколько фильмов в таблицу

In [ ]:
INSERT INTO movies (title, release_year, genre, rating) VALUES ('Интерстеллар', 2014, 'Фантастика', 8.7),
                            ('Начало', 2010, 'Фантастика', 8.8), ('Зеленая миля', 1999, 'Драма', 9.1), 
                            ('Побег из Шоушенка', 1994, 'Триллер', 9.3);

Посмотрим теперь наши данные из таблицы

In [ ]:
SELECT * FROM movies;

Cоздадим дополнительную таблицу с режиссерами

In [ ]:
CREATE TABLE directors (id SERIAL PRIMARY KEY, name VARCHAR(50) NOT NULL, birth_year INTEGER);

Добавим режиссеров

In [ ]:
INSERT INTO directors (name, birth_year) VALUES ('Кристофер Нолан', 1970), ('Фрэнк Дарабонт', 1959);

При помощи команды \dt мы можем проверить список всех таблиц, которые существуют в текущей базе данных

Чтобы выйти из sql вводим \q