In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#Установка psycopg
pip install psycopg2

In [ ]:
#install IPython-SQL kernel
!pip install ipython-sql

In [ ]:
#once the kernel is installed, you can start using SQL in your Jupiter Notebook
%load_ext sql

In [ ]:
%reload_ext sql

In [ ]:
%sql postgresql://postgres:123@127.0.0.1:5432/IMDB_DB

In [ ]:
import psycopg2

conn = psycopg2.connect(
    dbname="IMDB_DB",
    user="postgres",
    password="123",
    host="127.0.0.1")
cursor = conn.cursor()

conn.autocommit = True
# Команда для создания базы данных SAMPLE
sql = "CREATE DATABASE sample"

#Выполняем код sql
cursor.execute(sql)
print("База данных успешно создана")

cursor.close()
conn.close()

In [ ]:
import psycopg2

conn = psycopg2.connect(dbname="IMDB_DB", user="postgres", password="123", host="127.0.0.1")
cursor = conn.cursor()

conn.autocommit = True
sql = "DROP DATABASE IF EXISTS IMDB_DB"
#Выполняем код sql
cursor.execute(sql)
print("База данных успешно удалена")

cursor.close()
conn.close()

In [ ]:
#Создание таблицы
import psycopg2

conn = psycopg2.connect(dbname="IMDB_DB", user="postgres", password="123", host="127.0.0.1")
cursor = conn.cursor()

#Создаем таблицу people
cursor.execute("CREATE TABLE people (id SERIAL PRIMARY KEY, name VARCHAR(50), age INTEGER)")
#Подтверждаем транзакцию
conn.commit()
print("Таблица people успешно создана")

cursor.close()
conn.close()

In [ ]:
#Добавление данных
import psycopg2

conn = psycopg2.connect(dbname="IMDB_DB", user="postgres", password="123", host="127.0.0.1")
cursor = conn.cursor()

#Добавляем строку в таблицу people
cursor.execute("INSERT INTO people (name, age) VALUES ('Tom', 38)")
#Выполняем транзакцию
conn.commit()
print("Данные добавлены")

cursor.close()
conn.close()

In [ ]:
%%sql SELECT name, age FROM people;