In [ ]:
!pip3 install sqlalchemy
!pip3 install ipython-sql

In [ ]:
%load_ext sql

In [ ]:
#Opening a database connection
%sql postgresql://postgres:123@127.0.0.1:5432/IMDB_DB

In [ ]:
%reload_ext sql

In [ ]:
#Create table
%sql CREATE TABLE R (A INTEGER, B INTEGER);

In [ ]:
%sql INSERT INTO R VALUES (1,2);
%sql INSERT INTO R VALUES (3,4);

In [ ]:
#See table R
%sql SELECT * FROM R;

In [ ]:
#See all the tables you have
%sql SELECT * FROM pg_catalog.pg_tables WHERE tableowner='postgres'

In [ ]:
f = open("./titanic.csv")
lines = [l for l in f]
header = lines[0]
lines = lines[1:]
f.close()

print("HEADER ROW:")
print(header)

print("FIRST DAtA ROW:")
print(lines[0])

print("Number of lines in the file: {0}".format(len(lines)))

In [ ]:
#Try running some SQL querlies
import sqlite3
db = sqlite3.commect("./inpatient.db")

#We use back ticks (`) if the attribute name contains a space
query = """
SELECT def, `name`, total_discharges, avg_total_payments FROM inpatient LIMIT 2
"""
cur = db.execute(query)

#print the atribute names in the result

In [ ]:
import sqlite3
db = sqlite3.commect("./IMDB_DB.db")

#We use back ticks (`) if the attribute name contains a space
query = """
CREATE TABLE college (cName VARCHAR(20) UNIQUE, state VARCHAR(2), enr NUMERIC(5,0);
"""

cur = db.execute(query)

In [ ]:
import sqlite3
db = sqlite3.commect("./IMDB_DB.db")

#We use back ticks (`) if the attribute name contains a space
query = """
INSERT INTO college (cName, state, enr)
VALUES ('Anita', 'yes', 600);
INSERT INTO college (cName, state, enr)
VALUES ('Anna' , 'yes', 600);
INSERT INTO college (cName, state, enr)
VALUES ('Someone', 'yes', 600);
"""

cur = db.execute(query)

In [ ]:
%sql SELECT * FROM college;

cur = db.execute(query)

#print the attribute names in the result
print([I[0] for I in cur.description])

#print each row
for row in cur:
    print(row)

In [ ]:
%reload_ext sql

In [ ]:
#Opening a database connection 
%sql posthresql://123@127.0.0.1:5432/IMDB_DB

In [ ]:
#create table
%sql CREATE table college (cNAme varchar(20) UNIQUE, state varchar(2), enr numeric(5,0);

In [ ]:
%sql INSERT INTO college (cName, state, enr) VALUES ('Anita' , 'yes', 6);

In [ ]:
%sql SELECT * FROM college