Лабораторная работа номер 2

Создадим отдельную таблицу Movie_Directors, которая будет связывать фильмы и режиссёров. Это позволит нам хранить многие-ко-многим отношения

Заходим в SQL Shell < заходим в нашу базу данных < c\ movies

Создаём таблицу Movie_Directors
ВВодим следующий код

In [ ]:
CREATE TABLE Movie_Directors (
    movie_id INT,
    director_id INT,
    PRIMARY KEY (movie_id, director_id),
    FOREIGN KEY (movie_id) REFERENCES Movies(id) ON DELETE CASCADE,
    FOREIGN KEY (director_id) REFERENCES Directors(id) ON DELETE CASCADE
);

- movie_id INT — поле, хранящее идентификатор (id) фильма. Тип данных INT (целое число).
- director_id INT — поле, хранящее идентификатор (id) режиссёра. Тоже INT.

Эти два поля нужны, чтобы связать таблицу Movies с Directors.

- PRIMARY KEY (первичный ключ) — уникальный идентификатор строки.
- (movie_id, director_id) — составной ключ (он состоит из двух полей).

Один фильм может иметь нескольких режиссёров, и один режиссёр может снимать несколько фильмов. Чтобы не было дубликатов, оба поля (movie_id и director_id) вместе образуют первичный ключ.

- FOREIGN KEY (movie_id) — объявляем, что movie_id — внешний ключ.
- REFERENCES Movies(id) — это поле ссылается на id таблицы Movies.
- ON DELETE CASCADE — если фильм удалят из Movies, все связанные записи автоматически удалятся из Movie_Directors.

Аналогично:

- director_id — внешний ключ.
- Ссылается на id таблицы Directors.
- ON DELETE CASCADE — если удалим режиссёра, все его фильмы в Movie_Directors удалятся.

После того как создали таблицу, теперь заполним ее данными 
Свяжем фильмы с их режиссерами

In [ ]:
INSERT INTO Movie_Directors (movie_id, director_id)
SELECT id, (SELECT id FROM Directors WHERE name = 'Лана Вачовски') FROM Movies WHERE title = 'Матрица';

INSERT INTO Movie_Directors (movie_id, director_id)
SELECT id, (SELECT id FROM directors WHERE name = 'Джеймс Кэмерон') FROM movies WHERE title IN ('Титаник', 'Аватар');

INSERT INTO movie_directors (movie_id, director_id)
SELECT id, (SELECT id FROM directors WHERE name = 'Стивен Спилберг') FROM movies WHERE title = 'Список Шиндлера';

INSERT INTO movie_directors (movie_id, director_id)
SELECT id, (SELECT id FROM directors WHERE name = 'Роберт Земекис') FROM movies WHERE title = 'Форрест Гамп';

INSERT INTO movie_directors (movie_id, director_id)
SELECT id, (SELECT id FROM directors WHERE name = 'Квентин Тарантино') FROM movies WHERE title = 'Криминальное чтиво';

INSERT INTO movie_directors (movie_id, director_id)
SELECT id, (SELECT id FROM directors WHERE name = 'Питер Джексон') FROM movies WHERE title IN (
    'Властелин колец: Братство кольца', 'Властелин колец: Две крепости', 'Властелин колец: Возвращение короля',
    'Хоббит: Нежданное путешествие', 'Хоббит: Пустошь Смауга', 'Хоббит: Битва пяти воинств');

INSERT INTO movie_directors (movie_id, director_id)
SELECT id, (SELECT id FROM directors WHERE name = 'Кристофер Нолан') FROM movies WHERE title = 'Темный рыцарь';

INSERT INTO movie_directors (movie_id, director_id)
SELECT id, (SELECT id FROM directors WHERE name = 'Крис Коламбус') FROM movies WHERE title IN ('Гарри Поттер и философский камень', 'Гарри Поттер и тайная комната');

INSERT INTO movie_directors (movie_id, director_id)
SELECT id, (SELECT id FROM directors WHERE name = 'Альфонсо Куарон') FROM movies WHERE title = 'Гарри Поттер и узник Азкабана';

INSERT INTO movie_directors (movie_id, director_id)
SELECT id, (SELECT id FROM directors WHERE name = 'Майк Ньюэлл') FROM movies WHERE title = 'Гарри Поттер и Кубок огня';

INSERT INTO movie_directors (movie_id, director_id)
SELECT id, (SELECT id FROM directors WHERE name = 'Дэвид Йейтс') FROM movies WHERE title IN ('Гарри Поттер и Орден Феникса', 'Гарри Поттер и Принц-полукровка', 'Гарри Поттер и Дары Смерти: Часть 1', 'Гарри Поттер и Дары Смерти: Часть 2');

INSERT INTO movie_directors (movie_id, director_id)
SELECT id, (SELECT id FROM directors WHERE name = 'Гор Вербински') FROM movies WHERE title IN ('Пираты Карибского моря: Проклятие Черной жемчужины', 'Пираты Карибского моря: Сундук мертвеца', 'Пираты Карибского моря: На краю света');

INSERT INTO movie_directors (movie_id, director_id)
SELECT id, (SELECT id FROM directors WHERE name = 'Роб Маршалл') FROM movies WHERE title = 'Пираты Карибского моря: На странных берегах';

Теперь проверим нашу связь 
Можем вывести список фильм с их режиссерами

In [ ]:
SELECT Movies.title, Movies.release_year, Movies.genre, Movies.rating, Directors.name AS director
FROM Movie_Directors
JOIN Movies ON Movie_Directors.movie_id = Movies.id
JOIN Directors ON Movie_Directors.director_id = Directors.id;

SELECT — указывает, какие столбцы выбрать:

- Movies.title — название фильма.
- Movies.release_year — год выпуска.
- Movies.genre — жанр.
- Movies.rating — рейтинг.
- Directors.name AS director — имя режиссёра (переименовано в director).

- Таблица Movie_Directors — это связующая таблица между Movies и Directors.
- В ней есть movie_id и director_id, которые соединяют фильмы и режиссёров.

- JOIN Movies — присоединяем таблицу Movies.
- ON Movie_Directors.movie_id = Movies.id — связываем фильмы по id.

- JOIN Directors — присоединяем таблицу режиссёров.
- ON Movie_Directors.director_id = Directors.id — связываем режиссёров по id.